{% extends 'base.html' %}
{% load static %}
{% block body %}

{% if recent_songs %}
<section class="mt-hero">
  <h3>Recent</h3>
  <div class="mt-rule"></div>
</section>
{% include 'musicapp/_song_grid.html' with songs=recent_songs %}
<br><br>
{% endif %}

{% if all_songs %}
<section class="mt-hero">
  <h3>All Songs</h3>
  <div class="mt-rule"></div>
</section>
{% include 'musicapp/_song_grid.html' with songs=all_songs %}
<p style="margin-top: 16px;"><a href="{% url 'allsong' %}" class="mt-btn">View all <i class="fa fa-arrow-right"></i></a></p>
<br><br>
{% endif %}

{% if english_songs %}
<section class="mt-hero">
  <h3>English</h3>
  <div class="mt-rule"></div>
</section>
{% include 'musicapp/_song_grid.html' with songs=english_songs %}
<p style="margin-top: 16px;"><a href="{% url 'english_songs' %}" class="mt-btn">View all <i class="fa fa-arrow-right"></i></a></p>
<br><br>
{% endif %}

{% if hindi_songs %}
<section class="mt-hero">
  <h3>Hindi</h3>
  <div class="mt-rule"></div>
</section>
{% include 'musicapp/_song_grid.html' with songs=hindi_songs %}
<p style="margin-top: 16px;"><a href="{% url 'hindi_songs' %}" class="mt-btn">View all <i class="fa fa-arrow-right"></i></a></p>
{% endif %}

{% endblock body %}
