{% extends 'base.html' %}

{% load static %}
{% block body %}
<br>


<header class="section-heading" style="margin-left: 200px;">
    <h3 class="section-title">All Playlists</h3>
</header>

<div class="row " style="margin-left: 250px;" >
    {% if playlists %}
    {% for playlist in playlists %}
    <div class="col-md-3">
    <div class="thumbnail">
        <a href="{% url 'playlist_songs' playlist.playlist_name %}">
        <img src="{% static 'musicapp/img/bg.jpg' %}" class="img-responsive" height="200" width="200">
        </a>
        <center>
        <h4 style="margin-left:150px">{{playlist.playlist_name}}</h4>
        </center>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <p>There isn't any playlist! First create new playlist.</p>
    {% endif %}
</div>


{% endblock body %}