{% load static %}
{% load crispy_forms_tags %}


    <link rel="stylesheet" href="{% static '/musicapp/css/style1.css' %}">

    <header>
        <div id="logo" class="center">
            <img src="{% static 'musicapp/img/logo.png' %}" alt="">
        </div>
    </header>
    <section>
        <div class="container">
            <div class="user signupbx">
                <div class="formbx">
                    <form method="post">
                        <h2>Create an account</h2>
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" value="Sign Up">
                        <p class="signup">Already have an account? <a href="{% url 'login' %}">Sign in.</a></p>
                    </form>
                </div>
                <div class="imgbx">
                    <img src="{% static 'musicapp/img/Music.gif'  %}" alt="record player">
                </div>
            </div>
        </div>
    </section>
</body>
</html>